<section class="portfolio-section text-light py-5">
  <div class="container">
    <h2 class="mb-4 text-center">My Portfolio</h2>
    <div class="portfolio-container row">
      <div class="portfolio-item col-md-4">
        <h3>Project 1</h3>
        <p>E-learning System</p>
        <img src="assets/profile1.jpg" alt="Project 1" class="img-fluid project-image">
      </div>
      <div class="portfolio-item col-md-4">
        <h3>Project 2</h3>
        <p>Smart Bag Tracking System using IoT</p>
        <img src="assets/profile2.jpg" alt="Project 2" class="img-fluid project-image">
      </div>
      <div class="portfolio-item col-md-4">
        <h3>Project 3</h3>
        <p>Simple System</p>
        <img src="assets/profile3.jpg" alt="Project 3" class="img-fluid project-image">
      </div>
      <div class="portfolio-item col-md-4">
        <h3>Project 4</h3>
        <p>Amazon Clone</p>
        <img src="assets/profile4.jpg" alt="Project 4" class="img-fluid project-image">
      </div>
    </div>
  </div>
</section>


  
