<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <h5>Contact Me</h5>
                <p>Email: <a href="mailto:arwaemam2002&#64;gmail.com" class="text-light">arwaemam2002&#64;gmail.com</a></p>
                <p>Phone: <a href="tel:+123456789" class="text-light">+123 456 789</a></p>
            </div>
            <div class="col-md-6">
                <h5>Follow Me</h5>
                <div class="social-icons d-flex justify-content-center">
                    <a href="#" class="social-link mx-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-link mx-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-link mx-2"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-link mx-2"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <button class="btn btn-primary">Contact Me</button>
        </div>

        <hr class="my-3 border-light">
        <p class="mb-0">© 2025 A.E. All Rights Reserved.</p>
    </div>
</footer>

<!-- إضافة روابط لأيقونات الفيسبوك، تويتر، لينكد إن، وجيت هاب -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">




